// SASS variables

$ff-base: 'HeliosCond', Verbana, Geneva, Arial, sans-serif;
$color-primary: #e02330;
$color-primary-hover: mix($color-primary, #111111, 82%);
$color-secondary: #58535E;
$color-successfully: #4eb487;
$color-warning: #f3ac26;
$color-text: #1A1A1A;
$color-background: #272444;
$color-background-light: #ede9e7;
$color-popup-background: rgba(25, 30, 57, 0.65);

